.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
    margin-bottom: 100px;
    margin-top: 50px;
}

.service:hover {
    background: rgba(0, 0, 255, 0.36);
    border-color: rgb(255, 255, 255);
    cursor: default;
    border-width: 4px;
}

.service:hover .service__head {
   border-top: 4px solid blue;
}

.service__head {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0 , 0, 0.1);
}

.service__head > h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap:  1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: rgb(10, 255, 55);
    margin-top: 2px;
}

.service__list p {
    font-size: 0.9rem;
}


/* ================== Media Query Medium ====================== */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
    .service {
        height: auto;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}


/* ================== Media Query small ====================== */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    p {
        border: 1px solid transparent;
        padding-bottom: 0px;
        margin-bottom: 0px;
        width: fit-content;
        height: fit-content;
    }

    li {
        margin: 0px;
        padding: 0px;
    }
    
}