.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: rgba(0, 216, 18, 0.229);
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contact__form {
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    transition: var(--transition);
}

.contact__form:hover {
    background: rgba(22, 22, 116, 0.2);
    border: 1px solid var(--color-white);

}

/* =================== FORM ===================== */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary-variant);
    background: transparent;
    resize: none;
    color: var(--color-white);
}

input:hover, textarea:hover {
    border: 1px solid var(--color-white);
}

h2 {
    font-size: 45px;
}


/* ================== Media Query Medium ====================== */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 30px;
        justify-content: space-between;
    }
    .contact__option {
        margin-bottom: 10px;
        margin-top: 10px;
        gap: 20px;
    }
}

/* ================== Media Query small ====================== */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }

    p {
        height: 300px;
        overflow:scroll;
        border: 2px solid var(--color-white);
        padding: 5px;
        border-radius: 10px;
    }
}